<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': loveIts > 0,
                'list-group-item-danger': loveIts < 0 }" style="text-align: justify; margin-bottom: 10px">
  <span class="pull-right"> {{created_at | date: 'MM/dd/yyyy, hh:mm a' | uppercase }}</span>
  <h3 style="margin-top:0px; ">{{title}}</h3>
  <p>{{content}}</p>
  <button class="btn btn-success btn-sm" (click)="increment()">Love It</button>
  <button class="btn btn-danger btn-sm" (click)="decrement()">Don't Love It</button>
</li>
